<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/css/materialize.css">
    <!-- TODO Remove this stylesheet and replace with local from Materialize-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<header>
    <nav class="top-nav">
        <div class="nav-wrapper"><a class="button-collapse top-nav full hide-on-large-only" href="#"
                                    data-activates="slide-out"><i class="material-icons">menu</i></a><a
                class="brand-logo center">Ballroom Dance Choreographer</a></div>
    </nav>
</header>
<script src="/js/jquery.min.js"></script>
<script src="/js/materialize.min.js"></script>
<script src="/js/Sortable.min.js"></script>
<script src="create.js"></script>
<main>
    <div class="container"><h3 id="main-title"></h3>
        <div class="divider"></div>
        <div class="row">
            <div class="col s12"><input type="text" id="myInput" onkeyup="searchSteps()"
                                        placeholder="Search for steps..."></div>
        </div>
        <div class="row">
            <div class="col s6"><h4>Available Steps</h4>
                <ul class="collection" id="step-list"></ul>
            </div>
            <div class="col s6"><h4>Your Routine</h4>
                <ul class="collection" id="selected-step-list" style="touch-action:none;"></ul>
            </div>
        </div>
    </div>
    <div class="nav">
        <ul class="side-nav fixed" id="slide-out">
            <ul class="collapsible collapsible-accordion">
                <li class="bold"><a class="collapsible-header waves-effect waves-teal active">Select a Level<i
                        class="material-icons">arrow_drop_down</i></a>
                    <div class="collapsible-body">
                        <ul id="level-dropdown"><!--a(base href="/create?level=" + level) #{level}--></ul>
                    </div>
                </li>
                <li class="bold"><a class="collapsible-header waves-effect waves-teal">Select a Style<i
                        class="material-icons">arrow_drop_down</i></a>
                    <div class="collapsible-body">
                        <ul class="collapsible collapsible-accordion" id="categories-dropdown"></ul>
                    </div>
                </li>
            </ul>
        </ul>
    </div>
</main>
<script>// Initialize collapse button
$('.button-collapse').sideNav({
        menuWidth: 300, // Default is 240
    closeOnClick: false // Closes side-nav on <a> clicks, useful for Angular/Meteor
    }
);
$('.collapsible').collapsible();


var selectedDance = {level: "Bronze", category: "Latin", dance: "Cha-Cha"}
loadDanceCategories();

var list1 = document.getElementById("step-list");
var list2 = document.getElementById("selected-step-list")

// Sortable for steps loaded from the database
var loadedStepsSortable = new Sortable(list1, {
    group: {name: "drag-list", pull: 'clone', put: true},
    animation: 75,
    onAdd: function (evt) {
        this.el.removeChild(evt.item);
    },
    sort: false
});

// Sortable for steps selected by user for routine
var routineSortable = new Sortable(list2, {
    group: {name: "drag-list", pull: true, put: true},
    animation: 75,
    filter: ".js-remove, .js-edit",
    onFilter: function (evt) {
        var item = evt.item,
            ctrl = evt.target;

        if (Sortable.utils.is(ctrl, ".js-remove")) {  // Click on remove button
            item.parentNode.removeChild(item); // remove sortable item
        }
        else if (Sortable.utils.is(ctrl, ".js-edit")) {  // Click on edit link
            // ...
        }
    },

    onSort: function (/**Event*/evt) {
        console.log(evt)
        var result = [];

        if (evt.to.children.length === 1) {

        } else {

            for (var i = 0; i < evt.to.children.length; i++) {
                result.push(evt.to.children[i].outerText)
            }
        }
        console.log(result);
    },
    store: {
        /**
         * Get the order of elements. Called once during initialization.
         * @param   {Sortable}  sortable
         * @returns {Array}
         */
        get: function (sortable) {
            console.log("called GET")
            var order = localStorage.getItem(sortable.options.group.name);
            return order ? order.split('|') : [];
        },

        /**
         * Save the order of elements. Called onEnd (when the item is dropped).
         * @param {Sortable}  sortable
         */
        set: function (sortable) {
            var order = sortable.toArray();
            console.log(order);
            localStorage.setItem(sortable.options.group.name, order.join('|'));
        }
    }
});

function searchSteps() {
    // Declare variables
    var input, filter, ul, li, a, i;
    input = document.getElementById('myInput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("step-list");
    li = ul.getElementsByTagName('li');
    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
        if (li[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}

</script><style>ul li.active.dance-button { /* Style for the pink button on sidebar */
    background-color: #ee6e73 !important;
}

li.collection-item.Bronze {
    background-color: rgba(255, 71, 0, 0.35)
}

li.collection-item.Silver {
    background-color: rgba(164, 167, 127, 0.35)
}

li.collection-item.Gold {
    background-color: rgba(255, 212, 0, 0.35)
}

ul#selected-step-list {
    min-height: 50vh;
}
ul#step-list {
    min-height: 50vh;
}

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0;
    }
}</style></body></html>