doctype html
html
    head
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title= title
        link(rel='stylesheet', href='/css/materialize.css')
        // TODO Remove this stylesheet and replace with local from Materialize
        link(rel='stylesheet', href='http://fonts.googleapis.com/icon?family=Material+Icons')

    body
        header
            nav.top-nav
                .nav-wrapper
                    a.brand-logo.center Ballroom Dance Choreographer



        script(src="/js/jquery.min.js")
        script(src="/js/materialize.min.js")

        block content